
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-info">Excel Dosyası İndir</a>


